<nav class="navbar" role="navigation">
    <div class="header" id="header">
        <a href="../../index.html">
            <button type="button" id="hdbt">
                <img src="/WEB/pic/header/icon.svg" alt="[图片]您的浏览器不支持此元素" height="50" width="302" id="dhltp">
            </button>
        </a>
    </div>
    <div class="bardv">
        <ul class="navul">
            <li class="navli"><a href="/WEB/html/zanzhu.html" class="nava">赞助</a></li>
            <li class="navli"><a href="https://work.weixin.qq.com/kfid/kfc8225f24ea1428fdd" class="nava">客服</a></li>
        </ul>
    </div>
    <form class="hide" action="/WEB/index.asp" method="get">
        <input type="text" name="hiadet">
        <input type="submit" name="hides" value="提交" id="hides">
    </form>
</nav>